* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden;

}

.all-header {

    background: rgb(24, 24, 24);
    height: 65px;
}

.logo {
    /* border: 2px solid rgb(0, 26, 255); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 65px;

}

.image {
    /* border: 2px solid rgb(0, 166, 255); */
    display: flex;
    justify-content: center;
    align-items: center;

}

.image img {
    /* border: 2px solid rgb(0, 255, 47); */
    width: 30px;
    height: 30px;
    cursor: pointer;

}

.logo ul {
    display: flex;
    /* border: 2px solid rgb(204, 255, 0); */
    justify-content: center;
    align-items: center;
    width: 1000px;


}

.logo ul li a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.864);
    margin: 0 9px;
    font-size: 18px;
    font-weight: lighter;

}

.logo ul li a:hover {
    color: white;
}

.v {
    display: flex;
    justify-content: center;
    align-items: center;

}

.v .v-imag {
    width: 25px;
    height: 25px;
    margin: 0 9px;
    cursor: pointer;
}

/* This is for Section  */

.section-img {
    margin: 0;
    padding: 0;
}

.iphone15-pro {
    width: 1513px;

}

.all-section {
    height: 85vh;
    background-image: url("https://www.apple.com/v/home/bg/images/heroes/iphone-15-pro/hero_iphone15pro__i70z9oz3hj2i_large.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.iphone15-pro .phone-name {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
}

.iphone15-pro .tit {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}

.iphone15-pro .learn-more {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    padding: 30px;
}

.iphone15-pro .learn-more li a {
    /* border:2px solid red; */
    color: #2893f8;
    margin-left: 25px;

}

.iphone15-pro .learn-more li a:hover {
    text-decoration: underline;
}

.section-2 {
    background-color: #f5f5f7;
    margin-top: 20px;
    cursor: pointer;
}

.section-2 .kk {
    background-image: url(https://www.apple.com/v/home/bi/images/heroes/iphone-15/hero_iphone15_announce__uuemlcwczn6u_large.jpg);
    height: 85vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-2img {
    /* border: 2px solid rgb(0, 255, 119); */
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 30px;

}

.section-2img h1 {
    font-size: 3.8rem;
}

.section-2img h2 {
    font-size: 1.9rem;
    margin-top: 10px;
    font-weight: 500;
}

.section-2img .sec-2-more {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-top: 20px;
}

.section-2img .sec-2-more li a {
    color: #2893f8;
    margin-left: 20px;
    font-size: 1.5rem;
}

.section-2img .sec-2-more li a:hover {
    text-decoration: underline;
}

.section-3 {
    margin-top: 20px;
    cursor: pointer;
}

.vdo {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.sec-3-text {
    position: relative;
    bottom: 250px;
    text-align: center;
    color: white;
    z-index: 1;
    /* border: 5px solid green; */
    height: 200px;
}

.sec-3-text h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 400;
}

.sec-3-text a {
    color: #111;
    background-color: #fffffff4;
    border-radius: 30px;
    position: relative;
    top: 20px;
    font-weight: 100;
    /* border: 2px solid red; */
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin-left: 20px;
    width: 120px;
    height: 2.4rem;
}

.sec-3-text a:hover {
    background-color: #fff;
}

.sec-3-text .lrn {
    /* border: 2px solid rgb(0, 255, 64); */
    margin-top: 20px;
    font-size: 1.11rem;

}

.sec-2-all {
    margin-top: 20px;
    display: flex;
}

.sec-2-pic-1 {
    /* border: 2px solid red; */
    width: min-content;
    height: 555px;
    position: relative;

}

.sec-2-pic-1 .img-1 {
    width: 800px;
    height: 330px;
    transform: scale(1.8) translateX(-15px) translateY(50px);

}

.uper-img {
    position: absolute;
    top: 20px;
    left: 30%;
    justify-content: center;
    text-align: center;
    /* border: 2px solid red; */
    height: 160px;
}

.uper-img p {
    color: #fff;
    font-size: 2rem;
    margin-top: 10px;
}

.uper-img a {
    position: relative;
    top: 10px;
    color: #2893f8;
    font-size: 1.3rem;
    /* border: 2px solid blue; */
}

.learn-2 {
    margin-right: 20px;
}

.learn-2:hover {
    text-decoration: underline;
}

.buy-2:hover {
    text-decoration: underline;
}

.sec-2-pic-2 {
    /* border: 2px solid red; */
    width: min-content;
    height: 555px;
    position: relative;
    margin-left: 10px;

}

.sec-2-pic-2 .img-2 {
    width: 800px;
    transform: scale(1.5) translateX(-15px) translateY(60px);

}

.uper-img-2 {
    position: absolute;
    top: 20px;
    left: 30%;
    justify-content: center;
    text-align: center;
    /* border: 2px solid red; */
    height: 160px;
}

.uper-img-2 p {
    color: #111;
    font-size: 2rem;
    margin-top: 10px;
}

.uper-img-2 a {
    position: relative;
    top: 10px;
    color: #2893f8;
    font-size: 1.3rem;
    /* border: 2px solid blue; */
}

.learn-3 {
    margin-right: 20px;
}

.learn-3:hover {
    text-decoration: underline;
}

.buy-3:hover {
    text-decoration: underline;
}

/* Section 3 */

.sec-3-all {
    margin-top: 5px;
    display: flex;
}

.sec-3-pic-1 {
    /* border: 2px solid red; */
    width: min-content;
    height: 555px;
    position: relative;

}

.sec-3-pic-1 .img-3 {
    width: 800px;
    height: 330px;
    transform: scale(1.8) translateX(-15px) translateY(50px);

}

.uper-img-3 {
    position: absolute;
    top: 20px;
    left: 30%;
    justify-content: center;
    text-align: center;
    /* border: 2px solid red; */
    height: 160px;
}

.uper-img-3 h1 {
    font-size: 3.2rem;
}

.uper-img-3 p {
    color: #111;
    font-size: 2rem;
    margin-top: 10px;
}

.uper-img-3 a {
    position: relative;
    top: 10px;
    color: #2893f8;
    font-size: 1.3rem;
    /* border: 2px solid blue; */
}

.learn-qw {
    margin-right: 20px;
}

.learn-qw:hover {
    text-decoration: underline;
}

.buy-ee:hover {
    text-decoration: underline;
}

.sec-3-pic-3 {
    /* border: 2px solid red; */
    width: min-content;
    height: 555px;
    position: relative;
    margin-left: 10px;

}

.sec-3-pic-3 .img-ee {
    width: 800px;
    transform: scale(1.5) translateX(-15px) translateY(60px);

}

.uper-img-c {
    position: absolute;
    top: 20px;
    left: 25%;
    justify-content: center;
    text-align: center;
    /* border: 2px solid red; */
    height: 160px;
}

.uper-img-c h1 {
    font-size: 3.2rem;
}

.uper-img-c p {
    color: #111;
    font-size: 2rem;
    margin-top: 10px;
}

.uper-img-c a {
    position: relative;
    top: 10px;
    color: #2893f8;
    font-size: 1.3rem;
    /* border: 2px solid blue; */
}

.learn-wfw {
    margin-right: 20px;
}

.learn-wfw:hover {
    text-decoration: underline;
}

.buy-f:hover {
    text-decoration: underline;
}

/* Section 4 */


.sec-4-all {
    margin-top: 5px;
    display: flex;
}

.sec-4-pic-1 {
    /* border: 2px solid red; */
    width: min-content;
    height: 555px;
    position: relative;

}

.sec-4-pic-1 .img-4 {
    width: 800px;
    height: 330px;
    transform: scale(1.8) translateX(-15px) translateY(50px);

}

.uper-img-4 {
    position: absolute;
    top: 20px;
    left: 27%;
    justify-content: center;
    text-align: center;
    /* border: 2px solid red; */
    height: 160px;
}

.uper-img-4 h1 {
    font-size: 3.2rem;
    color: #fff;
}

.uper-img-4 p {
    color: #fff;
    font-size: 2rem;
    margin-top: 10px;
}

.uper-img-4 a {
    position: relative;
    top: 10px;
    color: #2893f8;
    font-size: 1.3rem;
    /* border: 2px solid blue; */
}

.learn-ji {
    margin-right: 20px;
}

.learn-ji:hover {
    text-decoration: underline;
}

.buy-hu:hover {
    text-decoration: underline;
}

.sec-4-pic-4 {
    /* border: 2px solid red; */
    width: min-content;
    height: 555px;
    position: relative;
    margin-left: 10px;

}

.sec-4-pic-4 .img-gy {
    width: 800px;
    transform: scale(1.5) translateX(-15px) translateY(60px);

}

.uper-img-jp img {
    margin-top: 10px;
}

.uper-img-jp {
    position: absolute;
    top: 20px;
    left: 21%;
    justify-content: center;
    text-align: center;
    /* border: 2px solid red; */
    height: 160px;
}

.uper-img-jp p {
    color: #111;
    font-size: 2rem;
    margin-top: 10px;
}

.uper-img-jp a {
    position: relative;
    top: 10px;
    color: #2893f8;
    font-size: 1.3rem;
    /* border: 2px solid blue; */
}

.buy-hj:hover {
    text-decoration: underline;
}

/* Content 5 */

.all-content-5 {
    display: flex;

}


.first-img {
    position: relative;
    margin-left: 140px;
    cursor: pointer;
    /* border: 2px solid red; */
    width: max-content;

}

.first-img-uper-text {
    position: absolute;
    bottom: 80px;
    left: 80px;
    display: flex;
    align-items: center;
}

.first-img-uper-text button {
    width: 150px;
    height: 40px;
    margin-right: 30px;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.first-img-uper-text button:hover {
    background-color: #ffffffe0;
}

.first-img-uper-text h1 {
    color: #fff;
    font-size: 1.3rem;
}

.first-img-uper-text p {
    color: #fff;
    margin-left: 10px;
    font-size: 1.3rem;
}

/* Footer */

footer {
    background: #f5f5f7;
    margin-top: 20px;
}

.all-foter {
    margin: 0 250px 0 300px;

}

.footer-uper p {
    color: rgba(96, 98, 96, 0.918);
    margin-top: 20px;
}

.footer-uper p a {
    color: rgba(96, 98, 96, 0.918);
    text-decoration: underline;
}

.line {
    height: 0.5px;
    background-color: gray;
    margin: 20px 0 20px 0;
}

.footer-down {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    /* border: 2px solid rgb(0, 255, 30); */

}

.footer-down h5 {
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: 400;
}

.footer-down a {
    color: #111111b7;
    font-size: 14px;
    /* border: 2px solid red; */
}

.down-shop,
.down-acc-nt,
.down-aple-stor,
.down-bus,
.down-apple-value,
.down-enter,
.down-educati,
.doen-health,
.down-abot-aple {
    display: flex;
    flex-direction: column;
}

.down-shop a,
.down-acc-nt a,
.down-aple-stor a,
.down-bus a,
.down-apple-value a {
    margin-top: 10px;


}

.down-shop a:hover,
.down-acc-nt a:hover,
.down-aple-stor a:hover,
.down-bus a:hover,
.down-apple-value a:hover {
    text-decoration: underline;
}

.cont a {
    color: #2893f8;
    text-decoration: underline;
}

.ftr-botm {
    display: flex;
    margin-bottom: 30px;

}

.ftr-botm p {
    margin-right: 40px;
}

.ftr-botm a {
    margin-right: 10px;
    color: #111;
}

.ftr-botm a:hover {
    text-decoration: underline;
}

.ind {
    margin-left: 140px;
}